.background-container {
  background-color: #43a485;
}

.erreur {
  text-align:center;
  color: black;
  padding: 2px 2px;
  border-radius: 5px;
  background-color: #ee4848;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
