<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <div class="me-auto" *ngIf="!userService.user_logged(); else disconnectButton">
        <button class="btn btn-outline-primary me-2" routerLink="/login">Se connecter</button>
      </div>
      <ng-template #disconnectButton>
        <button class="btn btn-outline-danger me-2" (click)="userService.logout()">Se deconnecter de {{this.userService.logged_user?.nickname}}</button>
      </ng-template>
    </div>

    <div class="navbar-nav mx-auto">
      <button class="btn btn-outline-primary me-2" routerLink="/">Accueil</button>
    </div>
    <div class="navbar-nav me-auto" *ngIf="this.userService.user_logged() == false; else disconnectButton">
      <button class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
    </div>

    <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>

