<section class="hero background text-center py-5">
  <div class="container">
    <h1 class="display-4">Bienvenue sur Leboncoing !</h1>
    <p class="lead">Ceci est une version "primitive" du site Leboncoin réalisée dans le cadre de l'UV WE4B en 2023</p>
    <button routerLink="/offer-list" class="btn btn-success">Rechercher des offres</button>
  </div>
</section>

<section class="features py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-3">
          <img src="../../../assets/accueil/recherche.png" class="card-img-top" alt="Recherche">
          <div class="card-body">
            <h5 class="card-title">Recherche d'offres</h5>
            <p class="card-text">Il est possible de rechercher des offres en appliquant différents filtres.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <img src="../../../assets/accueil/ajout_offre.png" class="card-img-top" alt="Ajout_offre">
          <div class="card-body">
            <h5 class="card-title">Ajouter une offre</h5>
            <p class="card-text">Il est possible de proposer une offre en renseignant plusieurs informations.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <img src="../../../assets/accueil/profil.png" class="card-img-top" alt="Profil">
          <div class="card-body">
            <h5 class="card-title">Un profil</h5>
            <p class="card-text">
              Sur votre profil, vous avez accès à vos informations personnelles et à leur modification, 
              aux offres que vous avez proposées et aux offres que vous avez aimées
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
