<section class="hero bg-primary text-white text-center py-5">
  <div class="container">
    <h1 class="display-4">Bienvenue sur Leboncoing !</h1>
    <p class="lead">Ceci est une version "primitive" du site Leboncoin réalisée dans le cadre de l'UV WE4B en 2023</p>
    <button routerLink="/offer-list" class="btn btn-success">Rechercher des offres</button>
  </div>
</section>

<section class="features py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-3">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Feature 1">
          <div class="card-body">
            <h5 class="card-title">Fonctionnalité 1</h5>
            <p class="card-text">Recherche des offres.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Feature 2">
          <div class="card-body">
            <h5 class="card-title">Fonctionnalité 2</h5>
            <p class="card-text">Depot d'une offre.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Feature 3">
          <div class="card-body">
            <h5 class="card-title">Fonctionnalité 3</h5>
            <p class="card-text">Consultation de son profil et de ses informations associées
            (visualisation des produits likés / postés, modification des informations de son profil)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
