<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <img src="https://i.pinimg.com/originals/5b/f6/0a/5bf60a85a633b2add2911175ea8c4f4d.jpg" class="card-img" alt="Image">
        <div class="card-body">
          <h4 class="card-title">{{offerDetails[0].offerTitle}}</h4>
          <p class="card-text"><strong>Description :</strong> {{offerDetails[0].description}}</p>
          <p class="card-text"><strong>Prix :</strong> {{offerDetails[0].price}} €</p>

          <p class="card-text" *ngIf="offerDetails[0].livrable == '1'; else lieu"><strong>Envoi par livraison</strong></p>
          <ng-template #lieu>
            <p class="card-text"><strong>
              Lieu :</strong><br>
              {{offerDetails[0].addressNumber}} {{offerDetails[0].addressStreet}} <br>
              {{offerDetails[0].addressZipCode}}, {{offerDetails[0].addressCity}}
            </p>
          </ng-template>
          <p class="card-text"><strong>Date de publication :</strong> {{offerDetails[0].offerDate | date : 'dd/MM/YYYY'}}</p>
          <hr>
          <h6>Contact vendeur :</h6>
          <p><strong>Pseudo : </strong>{{offerDetails[0].sellerPseudo}}</p>
          <p><strong>Nom : </strong>{{offerDetails[0].sellerFirstName | titlecase}} {{offerDetails[0].sellerLastName | uppercase}}</p>
          <p><strong>Email : </strong>{{offerDetails[0].sellerEmail}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  