<div class="d-flex justify-content-center" (click)="onClick($event)">
  <div class="offer container-fluid" style="width: 60%">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img [src]="offer_first_picture" class="card-img img-fluid align-items-center" alt="Image" style="width: 275px;">
        </div>
        <div class="card-body d-flex flex-column justify-content-between col-md-5 container-fluid" style="max-height: auto;">
          <div>
            <h5 class="card-title">{{offer.title}}</h5>
            <p class="card-text">{{offer.price}}€</p>
            <div *ngIf="offer.shippable">
              <p class="delivery-option">Livraison Possible</p>
            </div>
          </div>
          <div class="mt-auto offer-info">
            {{offer.categorie}}<br><br>
            {{offer.seller}}<br>
            {{offer.address.city}} {{offer.address.zip_code}}<br>
            {{ offer.post_date | date:'dd MMMM yyyy \'à\' HH\'h\'mm' }}
          </div>
        </div>
        <div class="col-md-2 d-flex flex-column">
          <div *ngIf="this.userService.user_logged() && this.userService.logged_user?.nickname != offer.seller">
            <div *ngIf="this.userService.user_logged() && this.logged_user_liked == false">
              <button class="btn btn-primary btn-like" (click)="like()">Like</button>
            </div>
            <div *ngIf="this.userService.user_logged() && this.logged_user_liked && !canBeRemovedFromList">
              <button class="btn btn-danger btn-like" (click)="dislike()">Dislike</button>
            </div>
            <div *ngIf="this.userService.user_logged() && this.logged_user_liked && canBeRemovedFromList">
              <button class="btn btn-danger btn-like" (click)="dislike(); removeFromList()">Dislike</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
