.card {
  border-radius: 0.8rem;
  border: 1px solid rgb(202, 209, 217);
  margin: 5px;
  padding: 10px;
  max-height: 300px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 3px 4px #b3b3b3;
}

.delivery-option {
  background-color: #c5e0b4;
  display: inline;
  padding: 5px;
}

.offer-info {
 color: gray;
}

.hover-class {
  cursor: pointer;
}



